* {
    text-align: center;
}
p {
    display: inline;
}
div {
    text-align: center;
    padding: 10px 0;
}
table,th,td {
    border: 1px solid black; 
}
table {
    width: 100%;
}
button {
    margin-top: 15px;
    margin-bottom: 15px;
}
